@import "tailwindcss";
@plugin "daisyui";

.gradient-with-image1 {
  background-image: url('/vector1.png'), linear-gradient(to top, #512DA8, #7C4DFF); 
  background-size: cover;
  background-position: center;
}
.gradient-with-image2 {
  background-image: url('/vector1.png'), linear-gradient(to right, #54CF68, #00827A); 
  background-size: cover;
  background-position: center;
  position: relative;
}
